pygmalion/servers/gestsea/gestsea.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by Pygmalion Project - Brice Texier -->

<definitions name="gestsea"
  targetNamespace="urn:pygen1"
  xmlns:typens="urn:pygen1"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Types de données -->
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:pygen1">
      <xsd:complexType name="sqlLine">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="v" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="sqlTable">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="l" type="typens:sqlLine"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="sqlQueryList">
        <xsd:sequence>
          <xsd:element name="def" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="query" type="xsd:string"/>
                <xsd:element name="name"  type="xsd:string"/>
                <xsd:element name="arity" type="xsd:unsignedInt"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <!-- Messages utilisés par le service Web  -->
  <message name="ConnectRequest">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="database" type="xsd:string"/>
  </message>
  <message name="ConnectResponse">
    <part name="key" type="xsd:string"/>
  </message>
  <message name="FinishRequest">
    <part name="key" type="xsd:string"/>
  </message>
  <message name="FinishResponse">
    <part name="result" type="xsd:unsignedInt"/>
  </message>
  <message name="SetupRequest">
    <part name="key" type="xsd:string"/>
  </message>
  <message name="SetupResponse">
    <part name="name" type="xsd:string"/>
    <part name="uuid" type="xsd:string"/>
    <part name="version" type="xsd:string"/>
    <part name="state" type="xsd:string"/>
    <part name="userType" type="xsd:string"/>
  </message>
  <message name="PrepareRequest">
    <part name="key" type="xsd:string"/>
    <part name="query" type="xsd:string"/>
    <part name="name" type="xsd:string"/>
    <part name="arity" type="xsd:unsignedInt"/>
  </message>
  <message name="PrepareResponse">
    <part name="result" type="xsd:unsignedInt"/>
  </message>
  <message name="PrepareListRequest">
    <part name="key" type="xsd:string"/>
    <part name="queries" type="typens:sqlQueryList"/>
  </message>
  <message name="PrepareListResponse">
    <part name="result" type="xsd:unsignedInt"/>
  </message>
  <message name="ExecPreparedSelectRequest">
    <part name="key" type="xsd:string"/>
    <part name="name" type="xsd:string"/>
    <part name="params" type="typens:sqlLine"/>
  </message>
  <message name="ExecPreparedSelectResponse">
    <part name="result" type="typens:sqlTable"/>
  </message>
  <message name="ExecPreparedUpdateRequest">
    <part name="key" type="xsd:string"/>
    <part name="name" type="xsd:string"/>
    <part name="params" type="typens:sqlLine"/>
  </message>
  <message name="ExecPreparedUpdateResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="ExecSelectRequest">
    <part name="key" type="xsd:string"/>
    <part name="query" type="xsd:string"/>
    <part name="params" type="typens:sqlLine"/>
  </message>
  <message name="ExecSelectResponse">
    <part name="result" type="typens:sqlTable"/>
  </message>
  <message name="ExecUpdateRequest">
    <part name="key" type="xsd:string"/>
    <part name="query" type="xsd:string"/>
    <part name="params" type="typens:sqlLine"/>
  </message>
  <message name="ExecUpdateResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="InitRequest">
    <part name="key" type="xsd:string"/>
    <part name="database" type="xsd:string"/>
    <part name="force" type="xsd:boolean"/>
  </message>
  <message name="InitResponse">
    <part name="result" type="xsd:unsignedInt"/>
  </message>
  <!-- Correspondances des messages -->
  <portType name="PMPortType">
    <operation name="Connect">
      <input  message="typens:ConnectRequest"/>
      <output message="typens:ConnectResponse"/>
    </operation>
    <operation name="Finish">
      <input  message="typens:FinishRequest"/>
      <output message="typens:FinishResponse"/>
    </operation>
    <operation name="Setup">
      <input  message="typens:SetupRequest"/>
      <output message="typens:SetupResponse"/>
    </operation>
    <operation name="Prepare">
      <input  message="typens:PrepareRequest"/>
      <output message="typens:PrepareResponse"/>
    </operation>
    <operation name="PrepareList">
      <input  message="typens:PrepareListRequest"/>
      <output message="typens:PrepareListResponse"/>
    </operation>
    <operation name="ExecPreparedSelect">
      <input  message="typens:ExecPreparedSelectRequest"/>
      <output message="typens:ExecPreparedSelectResponse"/>
    </operation>
    <operation name="ExecPreparedUpdate">
      <input  message="typens:ExecPreparedUpdateRequest"/>
      <output message="typens:ExecPreparedUpdateResponse"/>
    </operation>
    <operation name="ExecSelect">
      <input  message="typens:ExecSelectRequest"/>
      <output message="typens:ExecSelectResponse"/>
    </operation>
    <operation name="ExecUpdate">
      <input  message="typens:ExecUpdateRequest"/>
      <output message="typens:ExecUpdateResponse"/>
    </operation>
    <operation name="Init">
      <input  message="typens:InitRequest"/>
      <output message="typens:InitResponse"/>
    </operation>
  </portType>
  <!-- Formatage des opérations -->
  <binding name="gestseaBinding" type="typens:PMPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Connect">
      <input>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="Finish">
      <input>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="Setup">
      <input>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="Prepare">
      <input>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="PrepareList">
      <input>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="ExecPreparedSelect">
      <input>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="ExecPreparedUpdate">
      <input>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="ExecSelect">
      <input>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="ExecUpdate">
      <input>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="Init">
      <input>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:pygen1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <!-- Service -->
  <service name="gestseaService">
    <port name="PygmalionPort" binding="typens:gestseaBinding">
      <soap:address location="http://localhost"/>
    </port>
  </service>
</definitions>
